version: "3.9"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-diploma}
    ports:
      - "5433:5432"   # ты уже так делала, чтобы не конфликтовало с локальным
    volumes:
      - dbdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 10
    restart: unless-stopped

  energy_service:
    build: ./services/energy_service
    environment:
      DATABASE_URL: ${DATABASE_URL:-postgresql://postgres:postgres@db:5432/diploma}
      ENV: ${ENV:-dev}
      LOG_LEVEL: ${LOG_LEVEL:-INFO}
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8001:8000"
    restart: unless-stopped

  transport_service:
    build: ./services/transport_service
    environment:
      DATABASE_URL: ${DATABASE_URL:-postgresql://postgres:postgres@db:5432/diploma}
      ENERGY_SERVICE_URL: ${ENERGY_SERVICE_URL:-http://energy_service:8000}
      ENV: ${ENV:-dev}
      LOG_LEVEL: ${LOG_LEVEL:-INFO}
    depends_on:
      db:
        condition: service_healthy
      energy_service:
        condition: service_started
    ports:
      - "8003:8000"
    restart: unless-stopped

volumes:
  dbdata:
